<h3>Add a Comment</h3><br>
	<div><%= simple_form_for([@post, @post.comments.build]) do |com| %>
			<%= com.hidden_field :post_id %>
			<p>
				<%= com.label :name %><br>
				<%= com.text_field :name %>
			</p>
			<p>
				<%= com.label :body %><br>
				<%= com.text_area :body %>
			</p>
			<p>
				<%= com.submit "Add Comment" %>
			</p>
			<% end %>
	</div>
	<br>