<p id="notice"><%= notice %></p>
<div class= "post">
<h1 class="title"><%= "\n#{@category.name}" %></h1>
<% if @posts.each do |post| %>
  <h3><%= link_to post.title, post %></h3>
    <p class="meta">Date:<%= post.category.created_at.strftime("%d/%m/%Y") %></p>
  <div class="entry"><%= post.body %></div>
<% end.empty? %>
	<p class="entry">Sorry, no posts available at the moment!</p>
<% end %>
<%= link_to 'Back to Categories', categories_path %>
</div>